/* table,th,td{
  border: solid black 2px;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}
table{
  
  margin-left: 400px;
  margin-top: 100px;
}
th{
  background-color: rgb(222, 186, 238);
}
#row1{
  background-color: aquamarine;
}
#row2{
  background-color: cadetblue;
}
#row3{
  background-color: rgb(168, 183, 232);
}
#row4{
  background-color: rgb(226, 250, 171);
}
#row5{
   background-color: rgb(145, 255, 218)
}  
#row6{
    background-color: rgb(181, 186, 37);
}

.bg-color-red{
  background-color: red;
} */

 .div1{
  background-color: aquamarine;
 }
 .div2{
  background-color: rgb(115, 135, 170);
 }
 .div3{
  background-color: rgb(208, 144, 208);
 }
 /* div{
  background-color: lightblue;
 } */
 div{
  display: grid;
  grid-template-columns: 33% 33% 33% ;
 }